body {
  font-family: 'Open Sans', 'Verdana';
}
::-webkit-scrollbar {
  width: 6px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1) inset;
  padding: 0 2px;
}
::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 10px;
  background-color: rgba(219, 219, 219, 0.75);
  box-shadow: -2px -2px 2px 1px rgba(0, 0, 0, 0.3) outset;
}

.container,
.modal-container,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.container {
  display: flex;
  overflow: hidden;
}
.sidebar-left {
  height: 100vh;
  width: 15vw;
  flex-grow: 0;
  flex-shrink: 0;
  background: white;
  border-right: 1px solid #dbdbdb;
}
.sidebar-right {
  height: 100vh;
  width: 5vw;
  background: #dbdbdb;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.header {
  margin: auto;
  margin-top: 4vh;
  writing-mode: vertical-lr;
  font-size: 1.8rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: 65vh;
  flex-grow: 0;
  flex-shrink: 1;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.modal-container {
  z-index: 1;
  display: none;
}
.modal-new-group-box,
.modal-box {
  position: relative;
  top: 20vh;
  width: 25vw;
  height: 15vh;
  margin: auto;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2.5px 1px rgb(50, 50, 50);
  text-align: center;
  padding: 2rem;
}
.modal-box {
  height: auto;
}
.custom-input {
  outline: none;
  border: none;
  border-bottom: 1px solid #dbdbdb;
}
.custom-button {
  outline: none;
  border: none;
  border-radius: 0.25rem;
  background-color: rgba(70, 130, 180, 0.25);
  color: rgb(50, 50, 50);
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: all 0.3s;
  text-align: center;
}
.custom-button:hover {
  background-color: rgba(70, 130, 180, 0.5);
}
.sidebar-top {
  height: 1px;
  margin-top: 1rem;
  background: #dbdbdb;
}
.group {
  padding: 0.5rem 1rem 0;
}
.group {
  height: 20vh;
}
.group-line {
  display: flex;
  justify-content: space-between;
}
.select-group {
  border-radius: 0.25rem;
  outline: none;
}
.add-group,
.delete-group {
  margin-top: 0.5rem;
  padding: 0.15rem;
  font-size: 0.75rem;
  cursor: pointer;
  color: #acacac;
  border-radius: 0.25rem;
  transition: all 0.2s;
}
.add-group:hover {
  background-color: #acacac;
  color: white;
}
.delete-group {
  margin-top: 0.25rem;
  font-size: 0.7rem;
  color: rgb(220, 20, 60);
  transition: all 0.2s;
}
.delete-group:hover {
  background-color: rgb(220, 20, 60);
  color: white;
}
.divider {
  margin: 0.5rem 0;
  height: 1px;
  background: #dbdbdb;
}
.students {
  height: calc(80vh - 2.5rem);
  padding: 1rem;
  padding-top: 0.5rem;
}
.students-header {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.print-student {
  font-size: 0.8rem;
  font-weight: 300;
  position: relative;
  top: -0.5rem;
  font-style: italic;
  cursor: pointer;
}
.students-scrollable {
  height: 67vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.students-list-item {
  display: flex;
  justify-content: space-between;
  width: calc(15vw - 3.5rem);
  font-size: 0.85rem;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}
.students-list-item-selected {
  background: #dbdbdb;
}
.students-list-item-right {
  display: flex;
}
.delete-student {
  position: relative;
  top: -2px;
  right: 0.5rem;
  opacity: 0;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-weight: 500;
  color: darkred;
  transition: all 0.2s;
}
.students-list-item:hover .delete-student {
  opacity: 1;
}
.delete-student:hover {
  background: #dbdbdb;
}
.new-student {
  padding-top: 0.5rem;
}
.add-student-list {
  display: none;
  width: 90%;
}

/* CONTENT */
.content {
  height: 100vh;
  width: 80vw;
  background: #eeeeee;
  flex-grow: 0;
  flex-shrink: 0;
  border-right: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.content-header {
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  flex-grow: 0;
}
.content-form {
  padding: 0 1.5rem;
  padding-bottom: 30vh;
  flex-grow: 1;
  overflow-y: scroll;
}
.category-header {
  padding: 1rem;
  padding-bottom: 0;
  font-size: 1.1rem;
  font-weight: 500;
}
.label {
  display: block;
  cursor: pointer;
  max-width: 60vw;
  margin: auto;
  user-select: none;
  border-radius: 0.25rem;
}
.label:hover {
  background: #dfdfdf;
}
.toggle-radio {
  display: none;
}
.category-score {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  text-decoration: italic;
}
.category-score-input {
  margin-left: 0.5rem;
  padding: 0.125rem;
  width: 1.5rem;
  background: white;
  border: none;
  outline: none;
  transition: all 0.2s;
  text-align: right;
  border-bottom: 1px solid #dbdbdb;
}
.category-score-input:hover {
  border-bottom: 1px solid black;
}
.category-grade {
  font-size: 0.6rem;
  line-height: 0.6rem;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  top: -0.1rem;
}
.category-content {
  max-height: 0px;
  border-bottom: 1px solid black;
  overflow: hidden;
  transition: max-height 0.2s;
  max-width: 60vw;
  margin: auto;
  text-align: left;
}
.toggle-radio:checked ~ .category-content {
  max-height: 125vh;
  border: none;
}
.category-content-item {
  margin-bottom: 0.5rem;
}
textarea {
  display: block;
  width: 59vw;
  height: 4vh;
  margin: auto;
  padding: 0.25rem;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 0.25rem;
  border: 1px solid #acacac;
  border-left: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
  font-family: 'Open Sans', 'Verdana';
  font-size: 0.9rem;
  transition: all 0.3s ease-out;
}
textarea.general-comment {
  min-height: 11vh;
  max-height: 11vh;
  margin-bottom: 1rem;
}
textarea:focus {
  background: white;
  height: 10vh;
  transition-delay: 0s;
}
textarea.general-comment:focus {
  height: 13vh;
  max-height: 13vh;
}
.general-comment-header {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2rem;
}
.exports {
  /* margin-top: 1rem; */
  padding-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
  flex-basis: 10vh;
  flex-grow: 0;
  flex-shrink: 0;
  border-top: 1px solid white;
}
.exports div {
  cursor: pointer;
  padding: 0.25rem;
  margin: 0;
  transition: all 0.3s;
}
.exports div:first-of-type {
  color: rgb(0, 80, 0);
}
.exports div:last-of-type {
  color: rgb(80, 0, 0);
}
.exports div:hover {
  letter-spacing: 2px;
}
.import {
  flex-basis: 8vh;
  flex-grow: 0;
  flex-shrink: 0;
}
ul {
  text-align: left;
}
li {
  margin: 0.5rem 0;
}
.restore {
  font-size: 0.8rem;
  cursor: pointer;
  text-align: center;
  flex-basis: 5vh;
  margin: 0.5rem 0;
  padding-top: 0.5rem;
  border-top: 1px solid white;
}

.saved-comments-container {
  position: absolute;
  right: 6vw;
  top: 3rem;
  width: 60vw;
  height: 80vh;
  display: none;
  font-size: 0.8rem;
  padding: 1rem;
  background: #eeeeee;
  box-shadow: 0 1px 3px 1px #333333;
  border-radius: 0.25rem;
  z-index: 2;
}
.saved-comments-container .custom-input {
  margin-bottom: 0.5rem;
  width: 60%;
  background: transparent;
  font-size: 1rem;
}
.saved-comments-container textarea {
  height: 10vh;
  font-size: 0.8rem;
}
.saved-comments-container .custom-button {
  font-size: 0.7rem;
}
.toggle-saved-comments {
  position: absolute;
  right: 6vw;
  top: 0vw;
  font-size: 0.75rem;
}
.saved-comments {
  max-height: 72vh;
  overflow-x: hidden;
  overflow-y: auto;
  transition: max-height 0.3s;
}
.saved-comment {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.saved-comment-title {
  font-size: 0.9rem;
}
.saved-comment-actions {
  margin-top: 0.25rem;
}
.saved-comment-actions div {
  display: inline-block;
  font-size: 0.7rem;
  color: #a0a0a0;
  cursor: pointer;
}
.saved-comment-actions div {
  border-left: 1px solid #dbdbdb;
  padding-left: 0.35rem;
  margin-left: 0.15rem;
}
.saved-comment-actions div:first-child {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}
.saved-comment-actions div:hover {
  color: #6a6a6a;
}
.new-saved-comment {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s;
}
.copy-box {
  position: fixed;
  top: 0;
  right: -10vw;
  width: 0;
  height: 0;
}
.notification {
  position: absolute;
  top: 5vh;
  left: 42vw;
  min-width: 10vw;
  text-align: center;
  overflow: hidden;
  background-color: #5a7c99;
  color: #dbdbdb;
  border-radius: 1rem;
  box-shadow: 0px 1px 2px 1px #555555;
  padding: 0.5rem 1rem;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 3;
}